@import "./../styles.scss";

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./../assets/images/bg-mobile-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 35%;
  width: 100%;
}

@media (min-width: 600px) {
  .img-bg {
    background-image: url("./../assets/images/bg-desktop-dark.jpg");
    background-size: cover;
    height: 35%;
  }
}
